#email {
    color: #ce6bf8;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

#rentals:hover, #postrental:hover, #messages:hover {
    color: #FFFFFF;
    cursor: pointer;
}