<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home/rentals">GearShift</a>
        
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <span id="email" class="nav-link mx-2 active">{{this.user.email}}</span>
            </li>
            <li class="nav-item">
                <span id="rentals" class="nav-link mx-2" routerLink="rentals">View Rentals</span>
            </li>
            <li class="nav-item">
                <span id="postrental" class="nav-link mx-2" routerLink="postrental">Post Rental</span>
            </li>
            <li class="nav-item">
                <span id="myrentals" class="nav-link mx-2" routerLink="">My Rentals</span>
            </li>
            <li class="nav-item">
                <span id="messages" class="nav-link mx-2" routerLink="messages">Messages</span>
            </li>
            <li class="nav-item">
                <span id="logout" class="nav-link mx-2" (click)="onLogout()">Logout</span>
            </li>
        </ul>

    </div>
</nav>
<router-outlet></router-outlet>
