<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">GearShift Login</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="loginForm">
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="material-symbols-sharp p-2">mail</span>
                                    <input type="text" formControlName="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="material-symbols-sharp p-2">lock</span>
                                    <input [type]="textType" formControlName="password" placeholder="Password">
                                    <span id="eyeicon" (click)="hideShowPassword()" class="material-symbols-sharp p-2">visibility_off</span>
                                </div>
                            </div>
                            <button [disabled]="loginForm.invalid" (click)="onLogin()" type="submit" class="btn btn-primary btn-block mt-4 w-100">Login</button>
                            <div class="text-center pt-4 text-muted">Don't have an account? <a id="signup" routerLink="/signup">Sign up here</a></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
